<nz-layout>
  <nz-header>
    <a href="https://www.lovelive.social/">
      <img src="../assets/logo.png" alt="logo" />
    </a>
  </nz-header>
  <nz-content>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="10">
        <a href="https://mstdn.lovelive.social/web/timelines/home" target="_blank" class="image-container">
          <img src="../assets/1.png" class="link" />
        </a>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="10">
        <a href="https://home.lovelive.social/" target="_blank">
          <img src="../assets/2.png" class="link" />
        </a>
      </div>
    </div>
  </nz-content>
  <nz-footer>
    LL-social Design ©2019 Implement By Angular
  </nz-footer>
</nz-layout>